/* src/styles/global.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4a90e2;
    --secondary-color: #d3dde8;
    --background-color: #67a3e0; /* Light shaded background */
    --text-color: #f7e6e6;
    --button-color: #e75f5f;
    --button-hover-color: #ff4c4c;
    --input-border-color: #d3d3d3;
    --input-focus-color: #4a90e2;
    --input-hover-color: #eaeaea;
    --border-radius: 8px;
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --box-shadow-hover: 0px 6px 14px rgba(0, 0, 0, 0.15);
    --transition-duration: 0.3s;
    --font-family: 'Times New Roman', serif;
}

/* Body background */
body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    line-height: 1.6;
}

/* Adding smooth transitions for all elements */
* {
    transition: all var(--transition-duration) ease-in-out;
}

h2 {
    color: var(--secondary-color);
    margin-bottom: 1em;
}
